Source: libsonic-nas-l3
Section: net
Priority: optional
Maintainer: Dell <support@dell.com>
Build-Depends: debhelper (>= 9),dh-autoreconf,autotools-dev,libsonic-common-dev,libsonic-nas-common-dev,libsonic-object-library-dev,libsonic-logging-dev,libsonic-nas-linux-dev,libsonic-nas-ndi-dev,sonic-ndi-api-dev,libssl-dev
Standards-Version: 3.9.3

Package: libsonic-nas-l3-1
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},libsonic-nas-common1,libsonic-common1,libsonic-object-library1,libsonic-logging1,libsonic-nas-linux1,libsonic-nas-ndi1
Description: This package contains base layer 3 functionality for the SONiC software.

Package: libsonic-nas-l3-dev
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends},libsonic-common-dev,libsonic-nas-common-dev,libsonic-object-library-dev,libsonic-logging-dev,libsonic-nas-linux-dev,libsonic-nas-ndi-dev,sonic-ndi-api-dev,libsonic-nas-l3-1,libsonic-model-dev
Description: This package contains base layer 3 functionality for the SONiC software.

Package: sonic-nas-l3
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, sonic-object-library, python-sonic-object-library
Description: This package contains base layer 3 functionality for the SONiC software.
